.shop{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
}


button{
    cursor: pointer;
    width: 150px;
    border: none;
    border-radius: 5px;
    background-color: gray;
    color:white;
}